html,
body {
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/*navbar starts*/
.navContainer {
    background-color: black;
    width: 100%;
    height: 65px;
    border-bottom: 2px solid rgba(250, 250, 250, 0.2);
    top: 0;
    position: sticky;
    z-index: 2;
}

/*Team Orange Profile Web Name*/
.navTitle a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-family: 'GFS Didot', serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/*float right navs*/
.navIcons ul {
    float: right;
}

.navIcons li {
    float: Left;
    display: block;
    block-size: auto;
}

.navIcons a {
    float: right;
    display: block;
    text-align: center;
    padding: 0px 16px 10px;
    font-family: 'GFS Didot', serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.navIcons a:hover {
    color: rgb(205, 133, 63);
}

.navIconsContent {
    z-index: 1;
}

/*Profile Dropdown*/
.profileDropdown {
    display: none;
    position: absolute;
    top: 66px;
    right: 0;
    background-color: rgb(205, 133, 63);
    width: 190px;
    z-index: 1;
    padding-left: 0;
}

.profileDropdown li {
    list-style: none;
    border-top: 2px solid rgba(250, 250, 250, 0.2)
}

.profileDropdown li:first-child {
    border-top: none;
}

.profileDropdown li a {
    width: 200px;
    margin-left: 0;
    text-align: left;
    padding-top: 10px;

}

.profileDropdown li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.profileDropdown li a:hover {
    color: white;
}

.profileToggle {
    cursor: pointer;
}

.profileToggle.active .fa {
    transform: rotate(180deg);
}

.profileDropdown.active {
    display: block;
}

.navHambuger {
    display: none;
}

.bar {
    display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    background-color: white;
    transition: 0.2s ease-in-out;
}

/*Mobile Nav Responsive*/
@media screen and (max-width:600px) {
    .navContainer {
        height: 55px;

    }

    .navTitle a {
        font-family: 'GFS Didot', serif;
        font-size: 16px;
    }

    .navIcons a {
        padding: 0;
    }

    .navIconsContent {
        z-index: 1;
        width: 100%;
        position: absolute;
        background-color: black;
        margin-top: 55px;
        padding-left: 0;
        left: -100%;
        border-bottom: 1px solid white;
    }

    .navIconsContent.active {
        left: 0;
    }

    .navIconsContent li {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid white;
    }

    .navIconsContent li a {
        float: left;
        font-family: 'GFS Didot', serif;
        font-size: 16px;
        padding-left: 14px;
    }

    .navHambuger {
        display: block;
        color: white;
        float: right;
        margin: 14px 16px 14px;
    }

    .profileDropdown {
        background-color: rgb(205, 133, 63);
        display: none;
        position: relative;
        top: 10px;
        left: 0;
        width: 100%;
    }

    .profileDropdown li a {
        width: 200px;
        margin-left: 0;
        text-align: left;
        padding-top: 0px;

    }

    .navIcons li a:hover {
        color: rgb(218, 165, 32);

    }

    .navHambuger.active .bar:nth-child(1) {
        transform: translateY(5px)rotate(45deg);
    }

    .navHambuger.active .bar:nth-child(2) {
        transform: translateY(-2px)rotate(-45deg);
    }

    .navHambuger.active .bar:nth-child(3) {
        display: none;
    }
}

/**/
.introBG {
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
    top: 0px;
    overflow: hidden;

}

.introImg1 {
    padding-left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide1 30s infinite;
}

.introImg1 img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.intro-title-sub {
    color: white;
    text-shadow:
        0 0 0.5vw white,
        0 0 1vw rgb(255, 215, 0);
    position: absolute;
    font-family: 'GFS Didot', serif;
    font-size: 5vw;
    top: 30%;
    left: 5%;
    cursor: default;
}

.intro-title {
    border-color: 1px solid rgba(250, 250, 250, 0.5);
    position: absolute;
    font-family: 'GFS Didot', serif;
    font-size: 5vw;
    top: 45%;
    left: 15.5%;
}

.intro-title::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0px;
    border-right: 1px solid rgb(205, 133, 63);
    color: rgb(205, 133, 63);
    overflow: hidden;
    animation: text 3s linear infinite;
}

@keyframes text {
    0% {
        width: 0%;
    }

    40%,
    100% {
        width: 100%;
    }
}

.intro-explore {
    color: white;
    text-shadow:
        0 0 0.5vw white,
        0 0 1vw rgb(255, 215, 0);
    position: absolute;
    font-size: 1.5vw;
    top: 90%;
    left: 85.5%;
    cursor: pointer;
}

.intro-explore:hover {
    color: rgb(255, 215, 0);
    text-decoration: underline;
}

.intro-circle {
    width: 40%;
    height: 50%;
    color: white;
    position: absolute;
    font-family: 'GFS Didot', serif;
    font-size: 1vw;
    top: 22%;
    left: 33%;
    border: 2px solid rgba(250, 250, 250, 0.1);
    box-shadow: 0.35vw 0.5vw rgba(255, 250, 225, 0.3);
    filter: blur(0.05vw);
    border-radius: 100%;
}


@keyframes slide1 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@media screen and (max-width:600px) {
    .introBG {
        max-height: 220px;
        border-bottom: 2px solid rgba(250, 250, 250, 0.2);
    }

    .introImg1 {

        width: 100%;
        animation: none;
    }

    .intro-explore {
        color: white;
        position: absolute;
        font-size: 1.5vw;
        top: 90%;
        left: 84%;
        cursor: pointer;
    }
}


/*body*/
.portrait {
    display: flex;
    justify-content: center
}

.bodyIntroBot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'GFS Didot', serif;
    font-size: 14px;
}

.portrait img {
    width: 100%;
    max-width: 100%;
    height: auto;

}

.socialMediaBot {
    width: 100%;
    max-height: 3.25vw;
    background-color: rgb(255, 215, 0);
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    font-size: 2.5vw;

}

/*grid*/

.portraitContainer {
    margin-top: 0.15vh;
    border-top: 0.5vh double black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: grid;
    grid-template:
        "z a sl g s"
        "z b f h s" 3.25vw
        "z c f i s" 10vw
        "z y f w s" 25vw
        "z l e m ." 3.25vw
        "z l d m ." 10vw
        "z l x m ."
        "z k x n ."
        "z j . o ." 10vw
    ;
}

.s {
    grid-area: s;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.space {
    position: absolute;
    padding-top: 15vw;
    writing-mode: vertical-rl;
    width: 1.8vw;
    font-family: 'GFS Didot', serif;
    font-size: 2vw;
}

.space1 {
    position: absolute;
    padding-top: 2vw;
    padding-bottom: 10vw;
    writing-mode: vertical-rl;
    width: 1.8vw;
    font-family: 'GFS Didot', serif;
    font-size: 2vw;
}

.portraitU {
    visibility: hidden;
}

.introV {
    visibility: hidden;
}

.body-title {
    display: flex;
    justify-content: flex-end;
    transform: rotate(180deg);
    grid-area: z;
    writing-mode: vertical-lr;
    font-family: 'GFS Didot', serif;
    font-size: 2vw;
}

.portraitA {
    grid-area: a;
}

.portraitF {
    grid-area: f;
}

.portraitG {
    grid-area: g;
}

.portraitL {
    grid-area: l;
    transform: scaleX(-1);
}

.portraitM {
    grid-area: m;
}

.socialB {
    grid-area: b;
}

.socialE {
    grid-area: e;
}

.socialH {
    grid-area: h;
}

.socialK {
    grid-area: k;
}

.socialN {
    grid-area: n;
}

.introC {
    grid-area: c;
}

.introD {
    grid-area: d;
}

.introI {
    grid-area: i;
}

.introJ {
    grid-area: j;
}

.introO {
    grid-area: o;
}

.bodyX {
    padding-left: 20%;
    grid-area: x;
    text-shadow: -60px 60px rgba(0, 0, 0, 0.1);
    color: rgba(255, 215, 0, 0.2);
    font-family: 'GFS Didot', serif;
    font-size: 8vw;
    overflow: hidden;
}

.bodyY {
    grid-area: y;
    text-shadow: 50px 50px rgba(255, 215, 0, 0.2);
    color: rgba(0, 0, 0, 0.1);
    font-family: 'GFS Didot', serif;
    font-size: 7.8vw;
    overflow: hidden;
}

@media screen and (max-width:600px) {

    .portraitContainer {
        border-top: 0.5vh double black;
        z-index: 1;
        padding-top: 0px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        display: grid;
        grid-template:
            "z z" 
            "a f" 
            "c d"
            "g l"
            "i j"
            "m u"
            "o v"
        ;
    }

    .s,
    .sl {
        display: none;
    }

    .portraitU {
        grid-area: u;
        visibility: visible;
    }

    .introV {
        grid-area: v;
        visibility: visible;
    }

    .socialB,
    .socialE,
    .socialH,
    .socialK,
    .socialN,
    .bodyX,
    .bodyY {
        display: none;
    }

    .body-title {
        background-color: black;
        color: white;
        writing-mode: unset;
        transform: rotate(0deg);
        font-size: 2vw;
        justify-content: center;
        border-bottom: 2px solid rgba(250, 250, 250, 0.2);
    }

    .bodyIntroBot {
        background-color: rgba(255, 215, 0, 1);
    }
}

/*Footer*/
.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.footer-map {
    filter: grayscale(100%);
}

.footer-map:hover {
    filter: grayscale(0);
}

.footer-contact {
    font-family: 'GFS Didot', serif;
    font-size: 16px;
    padding-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-contact-sub {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-contact-split {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-msg {
    font-family: 'GFS Didot', serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-select-msg {
    font-family: 'GFS Didot', serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-msg input[type=text] {
    background-color: rgba(250, 250, 250, 0.15);
    height: 100px;
    color: white;
    font: 16px;
}

.footer-contact-info input[type=text],
.footer-contact-info input[type=email],
.footer-contact-info input[type=tel] {
    background-color: rgba(250, 250, 250, 0.15);
    font: 16px;
    color: white;
}

.footer-select select {
    background-color: rgba(250, 250, 250, 0.15);
    font: 16px;
    color: rgba(250, 250, 250, 0.5);
}

.footer-contact-info input[type=text]:focus,
.footer-contact-info input[type=email]:focus,
.footer-contact-info input[type=tel]:focus,
.footer-select select:focus {
    background-color: rgb(205, 133, 63);
    color: white;
}

.footer-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 36%;
}

.footer-submit button {
    background-color: rgba(0, 0, 0);
    font-family: 'GFS Didot', serif;
    font: 16px;
    width: 295px;
    min-height: 30px;
    color: white;

}

.footer-submit button:hover {
    background-color: rgb(205, 133, 63);
}

@media screen and (max-width:600px) {
    .footer {
        overflow: hidden;
        flex-direction: column-reverse;
        padding-bottom: 0;
    }

    .footer-map {
        padding-bottom: 0;
  filter: none;
    }

    .footer-contact {
        padding-bottom: 40px;
        padding-top: 20px;
        gap: 20px;
        flex-direction: column;
    }

.footer-contact-split {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}

.footer-submit {

    padding-left: 0;
}
}
