/*desig -> square*/
.square{
    background: rgb(yellow);
    background: linear-gradient(69deg, rgba(223,119,36,1) 0%, rgba(230,158,66,1) 66%, rgba(255,199,0,1) 100%);
    width: 1vw;
    height: 1vw;
}
.square-1{
    transform: rotate(15deg);
    position: relative;
    top: 50%;
    left: 80%;
    animation: square-drop 10s infinite;
}
.square-2{
    transform: rotate(60deg);
    position: relative;
    top: 10%;
    left: 40%;
    animation: square-drop 10s infinite;
    animation-delay: 1s;
}
.square-3{
    transform: rotate(80deg);
    position: relative;
    top: 30%;
    left: 50%;
    animation: square-drop 10s infinite;
    animation-delay: 5s;
}
@keyframes square-drop {
    0%{transform: translate(0px,-50px);
        opacity: 0;
        rotate: 15deg;
    }
    25%{transform: translate(20px,-10px);
    opacity: 0.5;
    rotate: 30deg;
}
    50%{transform: translate(0px,30px);
    opacity: 1;
    rotate: 45deg;
   }
    75%{transform: translate(20px,70px);
    opacity:0.5;
    }
    100%{transform: translate(50px,120px);
        opacity:0;
        }
    
}